<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Wishlist</title>
  <link rel="stylesheet" href="/static/styles/wishlist.css" />
  <link rel="stylesheet" href="/static/styles/header.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="menu-container">
    <nav class="navegation-menu">
      <div class="menu-icons">
        <a href="/perfil">
          <i class="fa-solid fa-user" id="icon"></i>
        </a>
        {% if is_admin %}
        <a href="/dashboard">
          <i class="fa-solid fa-chart-pie" id="icon"></i>
        </a>
        {% endif %}
        <a href="/wishlist">
          <i class="fa-solid fa-heart" id="icon"></i>
        </a>
        <a href="/carrinho">
          <i class="fa-sharp fa-solid fa-bag-shopping" id="icon"></i>
        </a>
      </div>
    </nav>
  </header>
  <main class="page">
    <section class="carousel-wrap">
      <div class="carousel" id="carousel">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </section>
  </main>

  <footer class="bottom-controls">
    <input id="track" type="range" min="0" value="0" step="1" />
    <div class="wishlist">WISHLIST</div>
  </footer>

  <script src="/static/scripts/wishlist.js"></script>
</body>

</html>