.contact-section {
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/static/assets/TalkToUs_Mobile.png);
    background-size: cover;
    background-position: center;
}

.contact-title {
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    letter-spacing: 20px;
    margin-top: 90px;
    align-self: flex-end;
    text-align: end;
    font-weight: 100;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    width: 310px;
    margin-top: 120px;
    margin-bottom: 78px;
}

.form-inputs input {
    background-color: transparent;
    color: #d7d7d7;
    border: none;
    border-bottom: 2px solid #d7d7d7;
    font-family: 'Libre Baskerville', serif;
    height: 40px;
    border-radius: 4px;
    padding-left: 8px;
}

.form-inputs textarea {
    background-color: transparent;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    font-family: 'Libre Baskerville', serif;
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 8px;
    resize: none;
    height: 80px;
}

.form-inputs textarea::placeholder {
    color: #d7d7d7;
}

.form-inputs input::placeholder {
    color: #d7d7d7;
}

.form-inputs input:focus {
    outline: none;
}

.form-inputs textarea:focus {
    outline: none;
}

.form-inputs button {
    background-color: #343434;
    color: #d7d7d7;
    font-family: 'Libre Baskerville', serif;
    border: none;
    border-radius: 4px;
    align-self: flex-end;
    height: 30px;
    width: 90px;
}

@media screen and (min-width: 768px) {
    .contact-title {
        font-size: 100px;
        letter-spacing: 40px;
        margin-top: 100px;
    }

    .form-inputs {
        gap: 30px;
        width: 460px;
        margin-top: 100px;
    }

    .form-inputs input {
        background-color: transparent;
        border-bottom: 2px solid #d7d7d7;
        height: 60px;
        border-radius: 4px;
        padding-left: 8px;
        color: #d7d7d7;
        font-size: 18px;
    }

    .form-inputs textarea {
        background-color: transparent;
        color: #d7d7d7;
        border: 2px solid #d7d7d7;
        font-size: 18px;
        border-radius: 4px;
        padding-left: 8px;
        padding-top: 8px;
        resize: none;
        height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .contact-section {
        background-image: url(/static/assets/TalkToUs_Pc.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 0% 20%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contact-title {
        font-size: 100px;
        letter-spacing: 40px;
        margin-top: 90px;
        margin-left: 20px;
        align-self: center;
        text-align: left;
    }

    .form-inputs {
        gap: 30px;
        width: 460px;
        margin-top: 140px;
        margin-bottom: 0px;
        margin-right: 40px;
    }

    .form-inputs input {
        height: 60px;
        border-radius: 4px;
        padding-left: 8px;
        color: #d7d7d7;
        font-size: 20px;
        font-weight: bolder;
        opacity: 1;
    }

    .form-inputs input:focus {
        background-color: #000000;
    }

    .form-inputs input:valid {
        background-color: #000000;
    }

    .form-inputs textarea:focus {
        background-color: #000000;
    }

    .form-inputs textarea:valid {
        background-color: #000000;
    }

    .form-inputs button {
        cursor: pointer;
    }
}

@media screen and (min-width: 1440px) {
    .contact-section {
        width: 100vw;
        background-image: url(/static/assets/TalkToUs_Pc.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 0% 20%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contact-title {
        font-size: 140px;
        margin-left: 30px;
        line-height: 180px;
    }

    .form-inputs {
        gap: 30px;
        width: 600px;
        margin-top: 140px;
        margin-bottom: 0px;
        margin-right: 100px;
    }

    .form-inputs textarea {
        height: 140px;
    }

    .form-inputs button {
        width: 120px;
        height: 40px;
        cursor: pointer;
    }

    .form-inputs button:hover {
        background-color: #4A4A4A;
        transition: 0.3s;
    }
}

@media screen and (min-width: 1920px) {
    .contact-section {
        background-size: 60%;
    }

    .contact-title {
        margin-left: 80px;
        font-size: 180px;
        line-height: 250px;
    }

    .form-inputs {
        gap: 50px;
    }

    .form-inputs input {
        height: 100px;
        font-size: 28px;
        border-bottom: 4px solid #d7d7d7;
    }

    .form-inputs textarea {
        border: 4px solid #d7d7d7;
        height: 180px;
        font-size: 28px;
        padding-top: 16px;
        padding-left: 16px;
    }

    .form-inputs button {
        font-size: 24px;
        height: 60px;
        width: 150px;
    }
}