.contact-section {
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/static/assets/TalkToUs_Mobile.png);
    background-size: cover;
    background-position: center;
}

.contact-title {
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    letter-spacing: 20px;
    margin-top: 90px;
    align-self: flex-end;
    text-align: end;
    font-weight: 100;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    width: 310px;
    margin-top: 120px;
    margin-bottom: 78px;
}

.form-inputs input {
    background-color: transparent;
    color: #d7d7d7;
    border: none;
    border-bottom: 2px solid #d7d7d7;
    font-family: 'Libre Baskerville', serif;
    height: 40px;
    border-radius: 4px;
    padding-left: 8px;
}

.form-inputs textarea {
    background-color: transparent;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    font-family: 'Libre Baskerville', serif;
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 8px;
    resize: none;
    height: 80px;
}

.form-inputs textarea::placeholder {
    color: #d7d7d7;
}

.form-inputs input::placeholder {
    color: #d7d7d7;
}

.form-inputs input:focus {
    outline: none;
}

.form-inputs textarea:focus {
    outline: none;
}

.form-inputs button {
    background-color: #343434;
    color: #d7d7d7;
    font-family: 'Libre Baskerville', serif;
    border: none;
    border-radius: 4px;
    align-self: flex-end;
    height: 30px;
    width: 90px;
}

@media screen and (min-width: 425px) {
    .contact-title {
        font-size: 100px;
        letter-spacing: 40px;
        margin-top: 100px;
    }

    .form-inputs {
        gap: 30px;
        width: 460px;
        margin-top: 100px;
    }

    .form-inputs input {
        background-color: transparent;
        border-bottom: 2px solid #d7d7d7;
        height: 60px;
        border-radius: 4px;
        padding-left: 8px;
        color: #d7d7d7;
        font-size: 18px;
    }

    .form-inputs textarea {
        background-color: transparent;
        color: #d7d7d7;
        border: 2px solid #d7d7d7;
        font-size: 18px;
        border-radius: 4px;
        padding-left: 8px;
        padding-top: 8px;
        resize: none;
        height: 100px;
    }
}