.contact-section {
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/static/assets/TalkToUs_Mobile.png);
    background-size: cover;
    background-position: center;
}

.contact-title {
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    letter-spacing: 20px;
    margin-top: 78px;
    align-self: flex-end;
    text-align: end;
    font-weight: 100;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 310px;
    margin-top: 220px;
}

.form-inputs input {
    background-color: #343434;
    border: none;
    height: 40px;
    border-radius: 4px;
}