header {
    width: 100%;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    position: sticky;
    top: 0px;
    z-index: 9999;
    /* acima de tudo */
    isolation: isolate;
    /* impede que contextos abaixo o ultrapassem */
}

.menu-container .logo {
    margin-left: 70px;
    padding-top: 26px;
}

.menu-container .logo a{
    font-family: 'SimpleSerenitySerif', serif;
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: white;
}

.menu-icons {
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.menu-icons {
    display: flex;
    gap: 70px;
    margin-right: 70px;
}

.menu-icons a {
    color: #000000;
}

nav a i {
    font-size: 36px;
    transition: 0.5s;
}

nav a i:hover {
    transition: 0.5s;
    cursor: pointer;
    color: grey;
}