.container-modal {
    display: flex;
    justify-content: center;
}

.modal-roupa {
    gap: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    align-self: center;
    justify-self: center;
    top: 25%;
    height: 50%;
    width: 40%;
    background-color: white;
    opacity: 1;
    border-radius: 12px;
    border: 1px solid #000000;
}

.modal-roupa h1 {
    margin: 0;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

.modal-roupa img {
    height: 90px;
    width: 90px;
}

.modal-roupa button {
    font-family: 'Playfair Display';
    height: 50px;
    width: 60%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #e9e9e9;
    cursor: pointer;
}

.modal-roupa button:hover {
    background-color: grey;
    transition: 0.5s;
    border: none;
}

.overlay {
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
}

.modal {
    display: none;
    position: relative;
    align-self: center;
    justify-self: center;
    height: 80%;
    width: 60%;
    background-color: #e6e6e6;
    opacity: 0;
}

.modal article {
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.modal article h3 {
    font-family: 'Playfair Display';
    margin-top: 40px;
    font-size: 24px;
}

.modal article p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
    padding: 0px 30px;
    font-size: 24px;
    font-weight: lighter;
}

.modal article p:first-of-type {
    font-family: 'Libre Baskerville';
    margin-top: 32px;
    font-size: 16px;
}

.modal article hr {
    margin-top: 50px;
    height: 6px;
    width: 50px;
    background-color: #000000;
    border: none;
}

.modal article a:first-of-type {
    font-family: 'Playfair Display';
    height: 56px;
    width: 80%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #e9e9e9;
    margin-top: 36px;
    cursor: pointer;
}

.modal article a:first-of-type:hover {
    transition: 0.2s;
    background-color: #343434;
}

.modal article a {
    text-decoration: none;
    color: #000000;
    margin-top: 14px;
    font-size: 16px;
}

.modal .modal-img {
    width: 50%;
}

.visible {
    display: flex;
    opacity: 1;
}

.modal-img {
    background-image: url(/static/assets/modal-login.png);
    background-position: center;
}